/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}


/* VARIALBES */
:root {
  --bg-color: rgba(34, 34, 34,0.9);
  --bgStar-primary:green;
  --bgStar-selected:blue;
}


/* GENERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
 position: relative;
  
}


/* COMPONENTS */

/* HEADER COMPONENT START */
header {
  width: 100vw;
  padding: 0.5rem 0.75rem;
  color: white;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > * {
  margin: 0 0.25rem;
}

.logo > *:not(:last-child) {
  font-family: cursive;
}

.logo > *:last-child {
  margin-left: 3rem;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.33s linear;
  animation: spin infinite 6s linear;
}

.logo .logo__text span {
  font-size: 2.2rem;
  margin-right: -0.9rem;
  font-family: cursive;
}

@keyframes spin {
  from{
  transform: rotate(0deg);    
  }

  to {
    transform: rotate(360deg);
  }
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li  {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.33s ease;
}

nav ul li:hover {
  transform: translateY(-3px);
}

.profile {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile > * {
  margin: 0 0.5rem;
  cursor: pointer;
}

.profile .profile__icon {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .profile__btn {
  padding: 0.4rem 2.5rem;
  font-size: 1.05rem;
  font-weight: bold;
  border-radius: 5px;
}
/* HEADER COMPONENT END */


/* STARS COMPONENT START */
.stars {
  position: relative;
  display: flex;
  color: green;
}

.star__wrapper {
  /* width: 200px; */
  /* height: 50px; */
  border: 3px solid red;
  /* float: left; */
}

.stars li,
.stars .starItem {
  opacity: 40%;
  font-size: 1.3rem;
  list-style: none;
  cursor: pointer;
}


.stars li:hover ,
.stars .starItem:hover {
  opacity: 100%;
}


.stars li:has(~ li:hover ) ,
.stars .starItem:has(~ .starItem:hover){
  opacity: 100%;
}

.newItem {
  width: 22px;
  height: 20px;
  border: 2px solid transparent;
  margin-inline: 0rem;
  position: relative;
  transition: all 0.33s ease;
}

.newItem:hover {
  transform: scale(1.3);
}


.newItem > * {
  position: absolute;
}

.newItem > *:first-child {
  z-index: 5;
  opacity: 0;
}
.stars .rating__title{
  color: black;
}

.stars .selected {
  color: blue;
  opacity: 100%;
  transform: scale(1.2);
}

.stars  .starItem:has(~  .selected) {
  color: blue;
  opacity: 100%;
}


/* STARS COMPONENT END */



/*  MOVIE COMPONENT START */

.movie__wrapper {
  height: 100vh;
  background: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 4rem;
  position: relative;
}


.movie__wrapper > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.movie__wrapper .movie-detail {
  margin-top: 1rem;
  padding-left: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  
}


.movie__wrapper .movie__title {
  text-transform: uppercase;
  font-size: 3.2rem;
  color: white;
  font-family: cursive;
  margin-bottom: 1rem;
  /* letter-spacing: 1px; */
}


.movie__wrapper .movie__ratings  {
  display: flex;
  justify-content: center;
  align-items: center;
}


.movie__wrapper .movie__ratings > * {
  font-size: 1rem;
  margin-right: 1.2rem;
  color: white;
}


.movie__wrapper .movie__ratings h4:nth-child(1) {
  color: blue;
  font-size: 1.2rem;
}


.movie__wrapper .movie__ratings h4:nth-child(3) {
  width: 30px;
  height: 25px;
  background: #888;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}


.movie__wrapper .movie__synopsis {
  margin: 1rem 0;
}

.movie__wrapper .openModal {
  padding: 0.2rem 0.35rem;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 0px #333;
  transition: all 0.33s ease;
}

.movie__wrapper .openModal:hover {
  outline: 1px solid #333;
  transform: translateY(-1px);
}

.movie__wrapper .movie__playBtn {
  padding: 0.5rem 2.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer;
}


.movie__wrapper .rate-reviews {
  display: flex;
  margin-block: 0.65rem -0.35rem;
}


.movie__wrapper .movie-trailer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.movie__wrapper .movie-trailer > * {
  margin: 0 0.75rem;
}


.movie__wrapper .trailer__btn {
  width: 70px;
  height: 70px;
  padding-left: 0.45rem;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.33s linear;
  
}


.movie__wrapper .trailer__btn:hover {
  transform: translateY(-1px);
}


.movie__wrapper .trailer__text {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.modal {
  width: 98%;
  height: 53%;
  /* overflow-y: scroll; */
  margin: 0 auto;
  padding: 1rem;
  background: rgba(245, 245, 245, 0.96);
  border: transparent;
  border-radius: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 1px;
  
  display: none;

  -webkit-animation-name: animatetop ;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {bottom:-300px; opacity:0} 
  to {bottom:0; opacity:1}
}

@keyframes animatetop {
  from {bottom:-300px; opacity:0}
  to {bottom:0; opacity:1}
}

.openDialog {
  display: block;
}

/* 
.slideDown {
  -webkit-animation-name: animatedown;
  -webkit-animation-duration: 0.4s;
  animation-name: animatedown;
  animation-duration: 0.4s
}


@-webkit-keyframes animatedown {
  from {bottom:0; opacity:1}
  to {bottom:-300px; opacity:0} 
}

@keyframes animatedown {
  from {bottom:0; opacity:1}
  to {bottom:-300px; opacity:0}
} */

.modal > * {
  list-style: none;
  margin: 0.5rem;
}

.modal h2 {
  text-align: center;
}

.modal .close {
  font-size: 1.2rem;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.modal .ratings{
  display: flex;
}

.modal .ratings > * {
  margin-right:  1rem;
}

.modal .ratings button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}
.modal .ratings input {
  height: 1.5rem;
  padding: 0.75rem 0.5rem;
  margin-right:  0.25rem;
}

/*  MOVIE COMPONENT END */



/*  MOVIELIST COMPONENT START */

.movieList {
  width: 90%;
  margin: 1rem auto 2.5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.movieList .movieItem {
  width: 350px;
  height: 200px;
  padding: 3rem;
  text-transform: capitalize;
  background: #777;
  cursor: pointer;
  transition: all 0.33s ease;
}

.movieList a{
  text-decoration: none;
  color: inherit;
  transition: all 0.33s ease;
}

.movieList .movieItem .movieItem__title {
  font-size: 1.25rem;
  margin-block: 0 0.5rem;
}

.movieList .movieItem .movieItem__duration {
  font-size: 0.92rem;
  margin-block: 0 0.5rem;
}

.movieList .movieItem .btn {
  margin-block: 0 0.5rem;
}

.movieList .movieItem:hover {
  transform: scale(1.05);
  border-left: 6px solid red;
}

/*  MOVIELIST COMPONENT END */



/* REVIEW COMPONENT START */
.review {
  margin-block: 1rem 1.5rem;
}

.review .review__title {
  display: flex;
  margin-bottom: 0.2rem;
}

.review .review__title > * {
  margin-right: 4rem;
}

/* REVIEW COMPONENT END */


/* REVIEWFORM COMPONENT START */
#reviewform {
  margin-bottom: 2rem;
}
#reviewform .review__title{
  text-align: center;
  margin-bottom: 1rem;
}

#reviewform label {
  margin-inline: 1rem 0.25rem;
}

#reviewform input {
  height: 1.85rem;
  padding: 0.75rem 0.5rem;
  margin-right:  0.25rem;
}

#reviewform input[type="submit"] {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

#reviewform .newRating {
  line-height: 1.6rem;
  width: 200px;
  display: flex;
  
}

#reviewform fieldset {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: transparent;
}

#reviewform fieldset > *:not(:first-child) {
  margin-left: -5rem;
}

#reviewform fieldset > *:last-child {
  margin-inline:-8rem 5rem;
}
/* REVIEWFORM COMPONENT ENDs */


/* REVIEWLIST COMPONENT END */
/* REVIEWLIST COMPONENT STARTs */


